<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="sobre.css">
</head>

<header>
    <nav-bar show-register-button="1"></nav-bar>
</header>
<body>

    <main>
    
    <h2>O Orienta Elas nasceu de uma ideia e de uma grande necessidade observada durante conversas entre um grupo de mulheres de 
    diferentes contextos. Há demanda de uma rede de apoio que nos encoraje a seguir buscando entrada e promoção no mercado da 
    tecnologia, o qual está em constante crescimento, mas com dados que podem desmotivar grupos que se identificam como minorias 
    (mulheres, pessoas negras, pessoas que fazem parte da comunidade LGBTQIA+, PCDs, pessoas que residem em lugares periféricos e 
    de vulnerabilidade social).</h2>

    <h2>Exemplo disso é que segundo pesquisa realizada pelo Boston Consulting Group, baseada em dados mundiais, mulheres representam apenas 
    25% da força de trabalho em tecnologia e apenas 9% de cargos de liderança na área. Quando o assunto é sobre desigualdades raciais, 
    o número de gerentes negros no Brasil é de 6,3%. Das empresas abordadas pela pesquisa, apenas 10% dos membros de equipes de trabalho 
    declaram orientação diferente de heterossexual e em 88,4% dos casos, não há nenhuma pessoa que declare gênero diferente de homem e 
    mulher cis nas equipes. Tais estimativas demonstram que apesar do mercado aquecido, a área tech ainda possui um longo caminho a 
    percorrer para ser diversa.</h2>

    <h2>Como então mudar esse cenário de maneira ágil e efetiva? Apesar de acreditar que mesmo sozinhas somos capazes de enfrentar 
    muitas lutas, sabemos que em comunidade podemos agilizar a entrada de profissionais diversas no mercado. Partimos então de um ponto 
    que julgamos central: a inspiração. Inspiração em mulheres reais, detentoras de narrativas que permitem identificação e acolhimento.</h2>

    <h2>Propomos aqui o compartilhamento de experiências através de mentorias como um caminho possível para que a presença de mulheres na 
    tecnologia possa ser mais representativa e transformadora para a própria área e para o mundo, que muito tem a perder ao desvalorizar 
    talentos em prol da manutenção de estereótipos de gênero, cor e classe que, já há tempos, são obsoletos.</h2>
    </main>

    <div class="row row-cols-1 row-cols-md-2 g-4 ">
        <div class="col">
          <div class="card">
            <img src="./assets/saude-mental.png" class="card-img-top" alt="teste">
            <div class="card-body card text-dark bg-light mb-3">
              <h5 class="card-title">O que  é a mentoria e a importância de mentorias dê e para mulheres</h5>
              <p class="card-text">As mentorias tratam de conversas entre pessoas que podem contribuir de maneira 
                  mais efetiva para a definição e o alcance de objetivos profissionais.<br>
                A identificação entre histórias de vida pode ser um ponto de motivação, pois a representatividade 
                se torna um fator de  encorajamento e abertura para novos diálogos.<br>
                Por isso, a ideia de mentoria que adotamos aqui, segue um caráter de troca de experiências e 
                conhecimentos que visa empoderar e alavancar mulheres no mercado da tecnologia.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" >
            <img src="./assets/saude-mental.png" class="card-img-top" alt="teste">
            <div class="card-body card text-dark bg-light mb-3">
              <h5 class="card-title">A importância de mulheres na tecnologia e em cargos de liderança</h5>
              <p class="card-text">Ter mulheres em cargos de liderança aumenta a garantia a educação, capacitação e 
                  desenvolvimento profissional das mulheres e o tratamento igual entre os sexos.<br>
                É um fator de inspiração para as outras mulheres que venham trabalhar com e para ela pois 
                mulheres em posição de liderança são espelhos e estimulam outras a seguir esse caminho.<br>
                Evita a auto sabotagem e a identificação com a síndrome de impostora em que a mulher 
                crê que não mereça estar em cargos de liderança, desse modo a mentora poderá validar 
                seus sentimentos e te ouvir de uma forma mais empática.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
      </div>


    <!--Web component menu-->
    <script src="../components/menu.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>

</html>